<div class="backdrop"></div>
<button id="side-menu-toggle">Menu</button>
<nav class="main-header__nav">
  <ul class="main-header__item-list">
    <li class="main-header__item">
      <a href="/shop" class="{{ 'active' if path === '/shop' else '' }}">Shop</a>
    </li>
    <li class="main-header__item">
      <a href="/shop/products" class="{{ 'active' if path === '/shop/products' else '' }}">Products</a>
    </li>
    <li class="main-header__item">
      <a href="/shop/cart" class="{{ 'active' if path === '/shop/cart' else '' }}">Cart</a>
    </li>
    <li class="main-header__item">
      <a href="/shop/orders" class="{{ 'active' if path === '/shop/orders' else '' }}">Orders</a>
    </li>
    <li class="main-header__item">
      <a href="/admin/add-product" class="{{ 'active' if path === '/admin/add-product' else '' }}">Add Product</a>
    </li>
    <li class="main-header__item">
      <a href="/admin/products" class="{{ 'active' if path === '/admin/products' else '' }}">Admin Products</a>
    </li>
  </ul>
  <ul class="main-header__item-list">
    {% if not isLoggedIn %}
      <li class="main-header__item">
        <a class="{{ 'active' if path === '/login' else '' }}" href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a class="{{ 'active' if path === '/signup' else '' }}" href="/signup">Signup</a>
      </li>
    {% else %}
      <li class="main-header__item">
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
          <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        </form>
      </li>
    {% endif %}
  </ul>
</nav>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="{{ 'active' if path === '/shop' else '' }}" href="/shop">Shop</a>
    </li>
    <li class="mobile-nav__item">
      <a class="{{ 'active' if path === '/shop/products' else '' }}" href="/shop/products">Products</a>
    </li>
    <li class="mobile-nav__item">
      <a class="{{ 'active' if path === '/shop/cart' else '' }}" href="/shop/cart">Cart</a>
    </li>
    <li class="mobile-nav__item">
      <a class="{{ 'active' if path === '/shop/orders' else '' }}" href="/shop/orders">Orders</a>
    </li>
    <li class="mobile-nav__item">
      <a class="{{ 'active' if path === '/admin/add-product' else '' }}" href="/admin/add-product">Add Product
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="{{ 'active' if path === '/admin/products' else '' }}" href="/admin/products">Admin Products
      </a>
    </li>
    {% if not isLoggedIn %}
      <li class="mobile-nav__item">
        <a class="{{ 'active' if path === '/login' else '' }}" href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a class="{{ 'active' if path === '/signup' else '' }}" href="/signup">Signup</a>
      </li>
    {% else %}
      <li class="mobile-nav__item">
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
          <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        </form>
      </li>
    {% endif %}
  </ul>
</nav>