{% extends "../layouts/main-layout.njk" %}
{% block title %}
  signup
{% endblock %}
{% block extraStyles %}
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/auth.css">
{% endblock %}
{% block mainContent %}
  {% if errorMsg and errorMsg.length > 0 %}
    <p class="user-message user-message--error">{{errorMsg}}</p>
  {% endif %}
  <form class="login-form" action="/signup" method="POST" novalidate="novalidate">
    <div class="form-control">
      <label for="email">E-Mail</label>
      <input type="email" name="email" id="email" value="{{oldInput.email if oldInput else ''}}" class="{{'invalid' if 'email' in invalidField else ''}}">
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="{{oldInput.password if oldInput else ''}}" class="{{'invalid' if 'password' in invalidField else ''}}">
    </div>
    <div class="form-control">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" value="{{oldInput.confirmPassword if oldInput else ''}}" class="{{'invalid' if 'confirmPassword' in invalidField or 'password' in invalidField else ''}}">
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <button class="btn" type="submit">Sign Up</button>
  </form>
{% endblock %}