.Button {
  background-color: #5856d6;
  color: #fff;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  box-shadow: 2px 2px rgba($color: #000, $alpha: 15%);

  &:hover {
    background-color: #615fe5;
    transform: translateY(-1px);
  }

  &:active {
    background-color: #5856d6;
    transform: translateY(1px);
  }
}
