<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        My Quotes
      </h1>
      <div class="interesting">
        <app-quote [ngClass]="{'favorite': isFavorite}" (click)="isFavorite = !isFavorite" [ngStyle]="{'width.px': isFavorite?600:400}"></app-quote>
      </div>
      <button class="btn btn-primary">Show boring Quotes</button>
      <div class="boring">
        <div id="very-boring">
          <app-quote></app-quote>
        </div>
      </div>
    </div>
  </div>
</div>
