{% extends "../layouts/main-layout.njk" %}

{% block title %}
    cart
{% endblock %}

{% block extraStyles %}
    <link rel="stylesheet" href="/css/cart.css">
{% endblock %}

{% block mainContent %}
    {% if cartItems.length > 0 %}
        <ul class="cart__item-list">
            {% for item in cartItems %}
                <li class="cart__item">
                    <h1>{{ item.product.title }}</h1>
                    <h2>Quantity:
                        {{item.quantity}}</h2>
                    <form action="/shop/delete-product-from-cart" method="POST">
                        <input type="hidden" name="productId" value="{{item.product.productId}}"/>
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No product in cart yet!</h1>
    {% endif %}
{% endblock %}