{% extends "../layouts/main-layout.njk" %}

{% block title %}
  your orders
{% endblock %}

{% block extraStyles %}
  <link rel="stylesheet" href="/css/orders.css">
{% endblock %}

{% block mainContent %}
  {% if not orders or orders.length == 0 %}
    <h1>nothing here</h1>
  {% else %}
    <ul class="orders">
      {% for order in orders %}
        <li class="orders__item">
          <h1>Order - #
            {{order.id}}
            -
            <a href="/shop/orders/{{order.id}}">Invoice</a>
          </h1>
          <ul class="orders__products">
            {% for orderItem in order.products %}
              <li class="orders__products-item">
                {{orderItem.product.title}}({{orderItem.quantity}})
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}