{% extends "../layouts/main-layout.njk" %}
{% block title %}
  product detail
{% endblock %}
{% block mainContent %}
  <div class="centered">
    <h1>{{ product.title }}</h1>
    <hr/>
    <div>
      <img src="{{ product.imageUrl }}" alt="{{ product.title }}"/>
    </div>
    <h2>{{ product.price }}</h2>
    <p>{{ product.description }}</p>
    {% include "../components/add-to-cart.njk" %}
  </div>
{% endblock %}